@import './tutorial-header';
@import './directions';
@import './details';

.tutorial-container {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 2.4fr 1.4fr;
  gap: 4vw;
  // row-gap: 12vh;

  & > div {
    background-color: var(--section-back);
    border-radius: 1vw;
    padding: 1.8vw;
  }

  h3 {
    text-transform: capitalize;
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 0.6vw;
  }

  .video {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 28rem;
    padding: 0;
  }

  .recommended {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: var(--back);
  }
}

@media (max-width: 720px) {
  .tutorial-container {
    grid-template-columns: unset;
    grid-template-rows: unset;

    .video {
      grid-column: 1 / 3;
    }

    .directions {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    .tutorial-details {
      grid-row: 3 / 5;
      grid-column: 1 / 3;

      grid-template-columns: unset;
      grid-template-rows: unset;

      .timing {
        grid-column: 1 / 3;
      }

      .ingredients {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
      }
    }

    .recommended {
      grid-row: 5 / 6;
      grid-column: 1 / 3;
    }
  }
}
