.categories-preview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 1vw;

  .header {
    grid-row: 1;
    @include flex(row, space-between, center);
  }

  .previews-container {
    overflow: hidden;
    height: fit-content;

    .previews {
      grid-row: 2;
      @include flex(row, space-between, center);
      overflow-x: scroll;
      gap: 3vw;

      @include noScrollBar();

      .preview {
        position: relative;

        img {
          width: 12vw;
          min-width: 150px;
          column-span: 1;
          border-radius: 0.5vw;
          background-color: var(--section-back);
        }

        p {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          border-radius: 0.5vw;
          background-color: rgba($color: #000000, $alpha: 0.5);
          color: #fff;
          padding: 0.2vw;
          text-align: center;
          text-transform: capitalize;
          display: grid;
          place-items: center;
          font-size: 14px;
        }

        &:hover {
          cursor: pointer;

          p {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .categories-preview {
    grid-template-rows: 1fr 5fr;
    gap: 3vw;

    .previews-container {
      .previews {
        gap: 4vw;

        .preview {
          img {
            width: 12vw;
            // min-width: 140px;
            border-radius: 1vw;
          }

          p {
            border-radius: 0.8vw;
            padding: 0.4vw;

            font-size: 2vw;
          }
        }
      }
    }
  }
}
