.about {
  .content {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10vh 10vw;
    padding-right: 2vw;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
