
$background: #ffffff;
$text-white: rgb(255, 255, 255);
$text-black: rgb(0, 0, 0);
$transition: all 0.4s ease-in-out;
$primary-orange: #e58a2f;
$secondary-orange: #ffd49b;
$light-orange: #fcf1e6;

/*========

=========*/
$dark-prime-background: #212121;
$dark-section-background: #2d2d2d;
$button-background: #ffe598;
$indicator: #676767;
$black-button: #121212;

$light-prime-background: #ffffff;
$light-section-background: #f6f7fc;
$light-shadow: #f2f3f8;

$main-shadow: 1vw 1vw 0.8vw -0.4vw lighten($background, 10%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: $transition;
}

img {
  object-fit: cover;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
