footer {
  position: absolute;
  bottom: 0;
  left: 0;

  .nav {
    width: 100vw;
    margin: 0;
    background-color: $primary-orange;
    color: var(--text);

    .links {
      .logo {
        color: var(--text);
        margin-bottom: 1vmax;
      }

      ul {
        margin-left: 5vmax;
      }
    }
  }
}
