.hero {
  @include flex(row, space-between, center);
  height: 100%;

  .hero-text {
    align-self: flex-start;
    margin-top: 6vh;
    width: 75%;
    h1 {
      font-size: 8vmax;
    }

    h3 {
      font-size: 3vmax;
    }

    p {
      font-size: 1.1vmax;
      margin-top: 3vh;
    }

    .hero-icons {
      @include flex(row, space-between, flex-start);
      margin-top: 3vmax;

      .menu-icons {
        @include flex(column, space-between, flex-start);
        height: fit-content;
      }

      
    }
  }
  #stake-fork-img {
  }
}
