.nav {
  text-transform: capitalize;
  @include flex(row, space-between, center);
    padding: 2rem 7vmax;


  .links {
    @include flex(row, flex-start, center);

    .logo {
      margin-right: 6vmax;
      color: $primary-orange;
      font-size: 5vmin;
    }

    ul {
      @include flex(row, space-between, center);

      li {
        margin-right: 2rem;
      }
    }
  }

  .account-actions {
    @include flex(row, space-between, center);

    button:first-child {
      background-color: $primary-orange;
      color: $text-white;

      &:hover {
        background-color: lighten($primary-orange, 12%);
        // color: $primary-orange;
      }
    }

    button {
      padding: 0.4rem 2vw;
      margin-left: 2vw;
    }
  }
}
