.themer {
  color: var(--text);
  font-size: 1.4vmax;
  padding: 0.6vmax;
  border-radius: 0.6vmax;
  @include flex(row, space-around, center);
  position: relative;
  border: 2px solid var(--section-back);
  background-color: var(--section-back);

  .dark-icon {
    color: #212121;
  }

  .light-icon {
    color: #fff;
  }

  &:hover {
    background-color: unset;
  }
}

.theme-light .light-icon,
.theme-dark .dark-icon {
  display: none;
}
