@import './config';
@import './nav';
@import './main';
@import './footer';
@import './about';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: $transition;
}

body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: $background;
  color: $text-black;
}

// img {
//   object-fit: cover;
//   max-width: 80vw;
// }

ul li {
  list-style-type: none;
}

a {
  padding: 1vmax;
  border-bottom: 2px solid transparent;
}

a,
a:link,
a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  border-bottom-color: $primary-orange;
}

button {
  outline: none;
  background-color: transparent;
  text-transform: capitalize;
  font-size: small;
  font-weight: 600;
  border: 1.6px solid $primary-orange;
  color: $primary-orange;
  padding: 1vmin;
  border-radius: 2vmax;
  font-family: inherit;

  &:hover {
    cursor: pointer;
    background-color: $light-orange;
    // transform: scale(1.01);
  }
}

input {
  border: none;
  background-color: $light-orange;
  outline: none;
  text-transform: capitalize;
  color: $primary-orange;
  font-family: inherit;
  font-weight: 600;

  &:focus {
    outline: 1px solid $primary-orange;
  }
}
