.login {
  padding: 3vw;

  h3 {
    text-transform: capitalize;
    font-size: 2vw;
  }

  form {
    display: grid;
    gap: 1vw;

    // label {
    //   text-transform: capitalize;
    //   font-size: 1.1vw;
    // }

    & > div {
      border-bottom: 1px solid var(--text);
      //   border-radius: 0.6vw;
      z-index: 1;
      @include flex(row, space-between, center);
      gap: 0.2vw;
      padding: 0 0.8vw;

      .icon {
        font-size: 1.4vw;
      }

      input {
        background-color: transparent;
        padding: 1vw;
        z-index: 2;
        flex-grow: 1;
        border: none;

        &:focus {
          border: none;
        }
      }
    }

    .submit-btn {
      background-color: $primary-green;
      color: var(--back);
      border-radius: 0.6vw;
      padding: 1vw;

      &:hover {
        cursor: pointer;
        
      }
    }
  }
}
