.search-header {
  @include flex(row, space-between, center);
  margin: 3vw auto 0 auto;
  height: 8vh;
  overflow: hidden;
  gap: 5vw;
  width: 100%;

  .menu-icons {
    @include flex(row, space-between, center);
    height: fit-content;

    .icon-link {
      gap: 0.4vw;

      &:hover {
        transform: translateY(3px);
        background-color: var(--section-back);
      }

      span {
        font-size: 1vw;
      }

      .icon {
        font-size: 1.2vw;
      }
    }
  }
}

@media (max-width: 720px) {
  .search-header {
    @include flex(row, space-between, center);
    margin: 3vw auto 0 auto;
    height: 8vh;
    overflow: hidden;
    gap: 5vw;
    width: 100%;

    .menu-icons {
      @include flex(column, flex-start, flex-start);
      background-color: var(--section-back);
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 60%;
      z-index: 5;

      .icon-link {
        gap: 3vw;

        &:hover {
          transform: translateY(3px);
          background-color: var(--section-back);
        }

        span {
          font-size: 4vw;
        }

        .icon {
          font-size: 6vw;
        }
      }
    }
  }
}
