.menu-icons {
  font-size: 1.8vw;
  width: fit-content;
  gap: 0.8vw;

  .icon-link {
    @include flex(row, space-between, center);
    gap: 1vw;
    border-radius: 0.6vw;

    &:hover {
      transform: translateX(5px);
      cursor: pointer;
    }

    span {
      font-size: 1.2vw;
      text-transform: capitalize;
    }

    .icon {
      border-radius: 0.4vw;
    }
  }
}
