.hero {
  // @include flex(row, space-between, center);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  .hero-text {
    align-self: flex-start;
    margin-top: 0;
    width: 85%;
    transform: translateY(-4vh);

    h1 {
      font-size: 7vw;
      color: $primary-green;
      grid-column: 1 / 4;
      grid-row: 2;
    }

    h3 {
      font-size: 3vw;
      font-family: 'Tangerine', cursive;
      font-weight: 700;
      text-align: right;
      padding-right: 2vw;
    }

    .titles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      h3:first-of-type {
        grid-column: 1 / 2;
        grid-row: 1;
        transform: unset;
        transform: translateY(3vw);
      }

      h3:last-of-type {
        grid-column: 2 / 4;
        grid-row: 3;
        transform: translateY(-2.6vw);
      }
    }

    p {
      font-size: 1.2vw;
      margin-top: -1.4vw;
      font-family: 'Labrada', serif;

      #count {
        color: $primary-green;
        font-size: 1.8vw;
        padding: 0 0.6vw;
        font-weight: 700;
      }
    }

    .hero-icons {
      @include flex(row, space-between, center);
      margin-top: 2vw;
      padding-top: 3rem;

      .menu-icons {
        @include flex(column, space-between, flex-start);
      }

      .hero-btn {
        background-color: $primary-green;
        padding: 1vw 2.4vw;
        font-size: 1.6vw;
        color: #fff;

        &:hover {
          background-color: lighten($primary-green, 5%);
          transform: translateY(5px);
        }
      }
    }
  }

  #mobile-img {
    display: none;
  }
  #stake-fork-img {
    width: 120%;
  }
}

@media (max-width: 720px) {
  .hero {
    grid-template-columns: 1fr;
    align-items: start;

    .hero-text {
      width: 85%;
      transform: translateY(0);
      margin: 0 auto;

      h1 {
        font-size: 14vw;
        // grid-column: 1 / 4;
        // grid-row: 2;
      }

      h3 {
        font-size: 6vw;
        padding-right: 4vw;
      }

      .titles {
        h3:first-of-type {
          transform: translateY(6vw);
        }

        h3:last-of-type {
          transform: translateY(-5.2vw);
        }
      }

      p {
        font-size: 2.4vw;
        margin-top: -2.8vw;

        #count {
          font-size: 3.6vw;
          padding: 0 1.2vw;
        }
      }

      .hero-icons {
        @include flex(row, space-between, center);
        margin-top: 4vw;

        .menu-icons {
          display: none;
        }

        .hero-btn {
          background-color: $primary-green;
          padding: 2vw 4.8vw;
          font-size: 1.6vw;

          &:hover {
            background-color: lighten($primary-green, 5%);
            transform: translateY(5px);
          }
        }
      }
    }
    #stake-fork-img {
      display: none;
    }
    #mobile-img {
      display: block;
    }
  }
}
