@import './profile-books';
@import './profile-details';

.profile {
  .content {
    height: 100%;
    padding: 2vh 8vw;
    // padding-right: 2vw;

    .details {
      width: 100%;
      display: grid;
      //   grid-template-columns: auto;
      //   grid-template-rows: 1fr;
      height: 80%;
      gap: 3vw;

      & > div {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.6vw;
      }
    }
  }
}
