.profile-details {
  // grid-column: 1 / 2;
  width: 25vw;
  // height: 100%;
  // max-height: 25rem;

  @include flex(column, space-around, center);
  padding: 1vw 2vw;

  .avatar {
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0.4vw;

    img {
      width: 100%;
      // border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    display: grid;
    gap: 2vw;

    h4 {
      text-align: center;
      background-color: blue;
      border-radius: 0.3vw;
    }
    form {
      display: grid;
      gap: 2vw;

      .name,
      .email {
        @include flex(row, flex-start, center);
        gap: 1.4vw;
        text-transform: capitalize;

        input {
          background-color: transparent;
          padding: 0.4vw;
          border-radius: 0.2vw;
          border: 1px solid #fff;
          color: #fff;

          &:focus {
            border: 1px solid darken(blue, 10%);
          }
        }
      }

      .actions {
        @include flex(row, space-between, center);

        .buttons {
          @include flex(row, center, center);
          gap: 1vw;

          #cancel-btn {
            background-color: red;
          }
        }
      }

      .edit {
        font-size: 1.4vw;
        justify-self: end;
        text-align: right;

        &:hover {
          cursor: pointer;
          transform: translateY(3px);
          color: $primary-green;
        }
      }
    }
  }

  button {
    color: #fff;
    border-radius: 0.4vw;
    font-size: 0.8vw;
    background-color: green;
    padding: 0.2vw 0.6vw;
  }

  .logout {
    padding: 0.4vw 1.4vw;
    background-color: red;

    .icon {
      font-size: 1vw;
      margin: 0 0.2vw;
    }
  }
}

@media (max-width: 720px) {
  .profile-details {
    width: 85vw;
    margin: 0 auto;

    @include flex(column, space-around, center);
    padding: 5vw;

    .avatar {
      width: 40vw;
      height: 40vw;
      border-radius: 1vw;

      img {
        border-radius: 50%;
      }
    }

    .info {
      gap: 5vw;
      margin-top: 8vw;

      h4 {
        border-radius: 0.8vw;
        padding: 1.6vw;
      }
      form {
        gap: 6vw;
        font-size: 2.8vw;

        .name,
        .email {
          gap: 3vw;

          input {
            padding: 1.4vw;
            border-radius: 0.8vw;
            font-size: 2.4vw;
          }
        }

        .actions {
          .buttons {
            @include flex(row, center, center);
            gap: 4vw;
          }
        }

        .edit {
          font-size: 4vw;
        }
      }
    }

    button {
      border-radius: 0.4vw;
      font-size: 1.8vw;
      padding: 1vw 1.5vw;
    }

    .logout {
      padding: 1.4vw 3.4vw;
      font-size: 2vw;
      margin-top: 8vw;

      .icon {
        font-size: 3vw;
        margin: 0 1vw;
      }
    }
  }
}
