.search-header {
  @include flex(row, space-between, center);
  // width: 30vw;
  margin: 3vmax auto 0 auto;
  height: 8vh;
  overflow: hidden;
  gap: 5vmax;

  .menu-icons {
    @include flex(row, space-between, center);
    height: fit-content;
    width: 60%;

    .icon-link {
      gap: 0.4vmax;

      &:hover {
        transform: translateY(3px);
        background-color: var(--section-back);
      }

      span {
        font-size: 1vmax;
      }

      .icon {
        font-size: 1.2vmax;
      }
    }
  }
}
