.search-header {
  @include flex(row, space-between, center);
  // width: 30vw;
  margin: 3vw auto 0 auto;
  height: 8vh;
  overflow: hidden;
  gap: 5vw;

  .menu-icons {
    @include flex(row, space-between, center);
    height: fit-content;
    width: 60%;

    .icon-link {
      gap: 0.4vw;

      &:hover {
        transform: translateY(3px);
        background-color: var(--section-back);
      }

      span {
        font-size: 1vw;
      }

      .icon {
        font-size: 1.2vw;
      }
    }
  }
}
